main {
    margin: auto;
    width: 80vw;
}
.homeA {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,26vw);
}
.home1 img,.home3 img {
    display: block;
    margin: auto;
    width:300px;
}
.home2 img {
    width: 370px;
}

.home2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#p1 {
    color: #484848; 
    font-size: 56px; 
    font-weight: bold; 
}
#p2 {
    color: gray; 
    font-size: 94px;  
    font-weight: bold;
}
#p3 {
    color:gray; 
    font-size:18px;
}

.homeB {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 80vw;
}
.homeb img {
    width: 1709px;
}
.card {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30vw;

}
.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 1.25rem;
}
.fa-star.checked {
    color: yellow;
}
.card-text {
    color: grey;
    
}
.card-text.bold {
    font-weight: bold;
    color: rgb(111, 107, 107);
    font-size: 28px;
}
.card-text.sold-out {
    color: red;
}