main {
    margin: auto;
    width: 80vw;
}
.homeA {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,26vw);
}
.home1 img,.home3 img {
    display: block;
    margin: auto;
    width:300px;
}
.home2 img {
    width: 370px;
}

.home2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#p1 {
    color: #484848; 
    font-size: 56px; 
    font-weight: bold; 
}
#p2 {
    color: gray; 
    font-size: 94px;  
    font-weight: bold;
}
#p3 {
    color:gray; 
    font-size:18px;
}

.homeB {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    width: 80vw;
}
.homeb img {
    width: 1709px;
}
.TEXTS {
    padding: 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p-color {
    font-size: 28px;
    color: grey;
}
#para {
    color:rgb(73, 69, 69);
    font-size: 48px;
    font-weight: 700;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.star{
    color: gold;
    font-size: 24px;
    margin-inline: -4px;
}
.card {
    margin-bottom: 30px;
}
.price {
    font-size: 24px; 
    font-weight: bold;
    padding-right: 60px;
}
.review {
    color:red; 
    text-align: right;
}
.review,.price {
    display: inline;
}
.card-text {
    color:rgb(95, 92, 92);
}
.LS-Height {
    display:flex;
    justify-content: center;
    align-items: center;
}

#CUSTOMER{
    font-size: 35px;
    font-weight: bold;
    padding-inline: 37px;
    padding: 77px;
}
#CR{
    color: gray;
    padding-inline:37px;
    margin:-82px;
    margin-inline:70px;
    font-size: 30px;
}
#CP{
    margin-inline: 140px;
    margin-block: 149px;
}

#CS{
    color:gray;
    font-size: 24px;
    width: 200px;
    word-wrap:normal;
    margin-top: -407px;
    margin-left:440px;
}
#STARS{
    font-size: 24px;
    margin-inline: 447px;
    color: goldenrod
}
#LINE{
    width:45%;
    margin-inline: 440px;
    border: 1px solid black;
    opacity: 30;
}
#CN{
    font-size: 32px;
    font-weight: bold;
    margin-inline: 447px;
}