
.main {
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
.heading {
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}

.sidebar {
    width: 25vw;
    border-right: 2px solid rgb(177, 177, 177);
}
.content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70vw;
    margin-bottom: 40px;
}

.card {
    margin-top: 20px;
}
.card-text {
    font-size: 22px;
    font-weight: 600;
}
.sidebar h3 {
    cursor: pointer;
    margin-left: 30px;
}
.sidebar h3 {
    font-size: 30px;
}
.sidebar h3:hover {
    color: brown;
}
.list {
    overflow: hidden;
    height: 0;
    transition: height 1s linear;
}


@media screen and (max-width: 760px) {
    .sidebar h3{
        font-size: 18px;
    }
    .heading {
        margin: 0 0 50px 0;
    }
}
@media screen and (max-width: 670px) {
    .sidebar h3 {
        font-size: 16px;
        margin-left: 10px;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    .sidebar {
        position: relative;
        border: 0;
        margin-bottom: 20px;
    }
    .sidebar h1 {
        display: none;
    }
    .pro {
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        left: -86px;
        top: -20px;
        position: absolute;
    }
    .material {
        margin-top: 100px;
    }
}